/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#define DEFAULT 0   // The default edit layer
#define SYM     1   // Layer for symbols
#define NAV     2   // Layer for navigation
#define NUM     3   // Layer for numbers and function keys
#define CON     4   // Configuration layer

#define NONE    0

// defining a dummy key code for the double quotes macro
#define DUMMY   5

/*
 * TODO: SEGREGATE MACROS AND COMBOS INTO THEIR OWN FILES
 */
 
/ {
    macros {
    
      /*
       * ALT+TAB macro, mapped to left thumb scroller. When
       * activated through the mod-morph behavior, will open
       * the app switcher space. The arrow keys, bound to
       * the same encoder can be used to navigate to the
       * desired app in the switcher space.
       */
      m_enter_app_switch: m_enter_app_switch {
        label = "Enter_App_Switcher";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        wait-ms = <0>;
        bindings
          = <&macro_press &kp LALT>
          , <&macro_tap &kp TAB>
          ;
      };
      
      /*
       * When activated through the mod-morph behavior, will
       * exit the app switcher space, selecting the
       * highlighted app
       */
      m_exit_app_switch: m_exit_app_switch {
        label = "Exit_App_Switcher";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        wait-ms = <0>;
        bindings = <&macro_release &kp LALT>;
      };
      
      /*
       * Type opening and closing double quotes ("") and 
       * place cursor in between
       */
      m_dquotes: m_dquotes {
        label = "DQuotes";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        wait-ms = <0>;
        bindings = <&kp DQT>, <&kp DQT>, <&kp LEFT>;
      };
      
      /*
       * Type opening and closing braces ({}) and 
       * place cursor in between
       */
      m_braces: m_braces {
        label = "Braces";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        wait-ms = <0>;
        bindings = <&kp LBRC>, <&kp RBRC>, <&kp LEFT>;
      };
      
      /*
       * Type opening and closing parenthesis () and 
       * place cursor in between
       */
      m_parens: m_parens {
        label = "Parens";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        wait-ms = <0>;
        bindings = <&kp LPAR>, <&kp RPAR>, <&kp LEFT>;
      };
      
      /*
       * Type opening and closing brackets ([]) and 
       * place cursor in between
       */
      m_brackets: m_brackets {
        label = "Brackets";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        wait-ms = <0>;
        bindings = <&kp LBKT>, <&kp RBKT>, <&kp LEFT>;
      };
    };
  };

/ {
    combos {
      compatible = "zmk,combos";
      
      combo_ctrl_shft_esc {         //  combo #1
        timeout-ms = <50>;
        key-positions = <1 2 12>;
        bindings = <&kp LC(LS(ESC))>;
      };
      
      combo_ctrl_alt_del {          //  combo #2
        timeout-ms = <50>;
        key-positions = <11 21 22>;
        bindings = <&kp LC(LA(DEL))>;
      };
      
      combo_undo {                  //  combo #3
        timeout-ms = <50>;
        key-positions = <10 20>;
        bindings = <&kp LC(Z)>;
      };
      
      combo_cut {                   //  combo #4
        timeout-ms = <50>;
        key-positions = <11 21>;
        bindings = <&kp LC(X)>;
      };
      
      combo_copy {                  //  combo #5
        timeout-ms = <50>;
        key-positions = <12 22>;
        bindings = <&kp LC(C)>;
      };
      
      combo_paste {                 //  combo #6
        timeout-ms = <50>;
        key-positions = <13 23>;
        bindings = <&kp LC(V)>;
      };
      
      combo_select_all {            //  combo #7
        timeout-ms = <50>;
        key-positions = <0 10>;
        bindings = <&kp LC(A)>;
      };
      
      combo_save {                  //  combo #8
        timeout-ms = <50>;
        key-positions = <1 11>;
        bindings = <&kp LC(S)>;
      };
      
      combo_enter {                 //  combo #9
        timeout-ms = <50>;
        key-positions = <3 4>;
        bindings = <&kp RET>;
      };
      
      combo_tab {                   //  combo #10
        timeout-ms = <50>;
        key-positions = <13 14>;
        bindings = <&kp TAB>;
      };
      
      combo_space {                 //  combo #12
        timeout-ms = <50>;
        key-positions = <23 24>;
        bindings = <&kp SPACE>;
      };
      
      combo_select_up {             //  combo #13
        timeout-ms = <50>;
        key-positions = <7 17>;
        bindings = <&kp LS(UP)>;
      };
      
      combo_select_down {           //  combo #14
        timeout-ms = <50>;
        key-positions = <17 27>;
        bindings = <&kp LS(DOWN)>;
      };
      
      combo_select_left {           //  combo #15
        timeout-ms = <50>;
        key-positions = <6 16>;
        bindings = <&kp LS(LEFT)>;
      };
       
      combo_select_right {          //  combo #16
        timeout-ms = <50>;
        key-positions = <8 18>;
        bindings = <&kp LS(RIGHT)>;
      };
    };
  };

/*
 * Defining the CON layer to be activated only if the 
 * SYM and NAV layers are activated
 */
/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <SYM NAV>;
            then-layer = <CON>;
        };
    };
  };


/ {
    behaviors {
    
      // Home row mods behaviour
      hm: homerow_mods {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping-term-ms = <150>;
        quick-tap-ms = <0>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
      };
      
      /*
       * Special implementation for home row mod to
       * accomodate the double quotes macro. Calls the dqr
       * behavior when tapped, which in turn calls the
       * double quotes macro `m_dquotes` only if the shift
       * key was held.
       */
      dq_hm: double_quotes_balanced_homerow_mod {
        compatible = "zmk,behavior-hold-tap";
        label = "DQ_HOMEROW_MOD";
        #binding-cells = <2>;
        tapping-term-ms = <200>;  // <-[[moderate duration]]
        quick-tap-ms = <0>;
        flavor = "balanced";
        bindings = <&kp>, <&dqr>;
      };

      /*
       * Morphing behaviour for single quotes to call the  
       * double quotes macro when used with LSHFT or RSHFT
       */
      dqr: dquotes_resolve {
        compatible = "zmk,behavior-mod-morph";
        label = "DOUBLE_QUOTES_RESOLVE";
        #binding-cells = <0>;
        bindings = <&kp SQT>, <&m_dquotes>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
      };
      
      /*
       * Morphing behaviour for entering or exiting the app-
       * switcher space, bound to the left thumb encoder
       * switch. Will open the app switcher space or close
       * it if already open, activating the highlighted
       * app - which can be selected using the scroll.
       */
      sw_app: switch_app {
        compatible = "zmk,behavior-mod-morph";
        label = "SWITCH_APP";
        #binding-cells = <0>;
        bindings = <&m_enter_app_switch>, <&m_exit_app_switch>;
        mods = <(MOD_LALT)>;
      };
    };
    
    keymap {
      compatible = "zmk,keymap";

      default_layer {
      // ------------------------------------------------------------------
      // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
      // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  '  |
      // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
      // | MUTE| ESC | BKSP| DEL |SWAPP|   |PSCRN| ENT  | SPC | TAB | ??? |
        bindings = <
          &kp Q         &kp W         &kp E           &kp R           &kp T         &kp Y       &kp U           &kp I           &kp O         &kp P
          &hm LGUI A    &hm LALT S    &hm LSHFT D     &hm LCTRL F     &kp G         &kp H       &hm LCTRL J     &hm RSHFT K     &hm LALT L    &dq_hm RGUI DUMMY
          &kp Z         &kp X         &kp C           &kp V           &kp B         &kp N       &kp M           &kp COMMA       &kp DOT       &kp FSLH
          &kp C_MUTE    &lt SYM ESC   &kp BSPC        &lt NUM DEL     &sw_app       &kp PSCRN   &kp RET         &kp SPACE       &lt NAV TAB   &kp PSCRN
        >;
                        
        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp LEFT RIGHT &inc_dec_kp PG_UP PG_DN &inc_dec_kp LC(LS(LEFT)) LC(LS(RIGHT))>; 
      };

      symbol_layer {
      // -----------------------------------------------------------------
      // |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  ~  |  +  |
      // |     |  =  |  _  |  -  |  `  |   |     |  (  |  )  |  ;  |  :  |
      // | CAPS|     |  [  |  ]  |     |   |     |  {  |  }  |  |  |  \  |
      // |     |     |     |     |     |   |     |     |     |     |     |
        bindings = <
          &kp EXCL    &kp AT    &kp HASH    &kp DLLR    &kp PRCNT       &kp CARET   &kp AMPS    &kp STAR    &kp TILDE   &kp PLUS 
          &none       &kp EQUAL &kp UNDER   &kp MINUS   &kp GRAVE       &none       &m_parens   &kp RPAR    &kp SEMI    &kp COLON
          &kp CAPS    &none     &m_brackets &kp RBKT    &none           &none       &m_braces   &kp RBRC    &kp PIPE    &kp BSLH
          &trans      &trans    &trans      &trans      &trans          &trans      &trans      &trans      &trans      &trans
        >;
                        
        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp UP DOWN &inc_dec_kp LEFT RIGHT>;
      };
                
      navigation_layer {
      // -----------------------------------------------------------------
      // | REDO|     |     |     | ENT |   |     | P.Wd|  UP | N.Wd|     |
      // | ALL |SAVE |LSHFT| CTRL| TAB |   |     | LFT | DWN | RGT |     |
      // | UNDO| CUT | CPY | PST | SPC |   |     | BSWd|     | DLWd|     |
      // |     |     |     |     |     |   |     |     |     |     |     |
        bindings = <
          &kp LC(Y)   &none     &none       &none       &kp RET       &none     &kp LC(LEFT)    &kp UP    &kp LC(RIGHT)   &none
          &kp LC(A)   &kp LC(S) &kp LSHFT   &kp LCTRL   &kp TAB       &none     &kp LEFT        &kp DOWN  &kp RIGHT       &none
          &kp LC(Z)   &kp LC(X) &kp LC(C)   &kp LC(V)   &kp SPACE     &none     &kp LC(BSPC)    &none     &kp LC(DEL)     &none
          &trans      &trans    &trans      &trans      &trans        &trans    &trans          &trans    &trans          &trans
        >;
                        
        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp UP DOWN &inc_dec_kp LEFT RIGHT>;
      };
                
      numfun_layer {
      // -----------------------------------------------------------------
      // |  F9 | F10 | F11 | F12 |  *  |   |  +  |  7  |  8  |  9  |  =  |
      // |  F5 |  F6 |  F7 |  F8 | TAB |   |  0  |  4  |  5  |  6  |  -  |
      // |  F1 |  F2 |  F3 |  F4 |  /  |   |     |  1  |  2  |  3  |  .  |
      // |     |     |     |     |     |   |     |     |     |     |     |
        bindings = <
          &kp F9    &kp F10   &kp F11   &kp F12   &kp KP_MULTIPLY     &kp KP_PLUS   &kp KP_N7   &kp KP_N8   &kp KP_N9   &kp KP_EQUAL
          &kp F5    &kp F6    &kp F7    &kp F8    &kp TAB             &kp KP_N0     &kp KP_N4   &kp KP_N5   &kp KP_N6   &kp KP_MINUS
          &kp F1    &kp F2    &kp F3    &kp F4    &kp KP_DIVIDE       &none         &kp KP_N1   &kp KP_N2   &kp KP_N3   &kp KP_DOT
          &trans    &trans    &trans    &trans    &trans              &trans        &trans      &trans      &trans      &trans
        >;
                        
        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp UP DOWN &inc_dec_kp LEFT RIGHT>;
      };
                
      config_layer {
      // -----------------------------------------------------------------
      // | BT1 | BT2 | BT3 | BT4 | BT5 |   |     |O USB|     |     |E.POW|
      // |     |     |     |     |     |   |     |     |     |     |     |
      // |BTCLR|     |     |     |O BLE|   |     |     |     |     |     |
      // |     |     |     |     |     |   |     |     |     |     |     |
        bindings = <
          &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4      &none     &out OUT_USB  &none     &none     &ext_power EP_TOG
          &none           &bt BT_SEL 1    &none           &none           &none             &none     &none         &none     &none     &none
          &bt BT_CLR      &none           &none           &none           &out OUT_BLE      &none     &none         &none     &none     &none
          &trans          &trans          &trans          &trans          &trans            &trans    &trans        &trans    &trans    &trans
        >;
                        
        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp UP DOWN &inc_dec_kp LEFT RIGHT>;
      };
    };
  };